.pNumber {
    width: 90em;
    height: 2.5em;
    margin-bottom: 2em;
}

.nProducts {
    width: 90em;
    height: 2.5em;
    margin-bottom: 2em;
}

h2 {
    margin-left: 2em;
}

.btn {
    margin-bottom: 1em;
}

.grandTotal {
    display: flex;
    flex-direction: row;
    border: 1px dotted gray;
    width: 1140px;
    margin-top: 5px;
    margin-left: 150px;
    justify-content: center;
}